# Composer files
composer.phar
vendor/*

# Local configs
config/*

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

#Doctrine 2
data/DoctrineORMModule/Proxy/
data/DoctrineORMModule/cache/


# Legacy ZF1
demos/
extras/documentation

#public
public/assets/*
public/assetsfront/*
public/fonts/*
public/.htaccess
public/index.php

nbproject/*